.leaderboard-container {
    border: 3px solid yellow;
    background-color:#101624;
    width: 50%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.leaderboard-row {
    background-color: #39485E;
    height: 40px; 
    width: 90%;
    justify-self: center;
    margin-top: 3%;
}